.botonDisabled  {
    cursor: not-allowed!important;
    pointer-events: none!important;
}

.red{
    color:red;
}
.tabla-con-encabezados-fijos {
    max-height: 300px;
    overflow-y: auto;
  }
  
  #cuerpo-desplazable {
    overflow-y: scroll;
    max-height: 300px;
  }

  thead {
    position: sticky;
    top: 0;
}
.click{
  cursor: pointer;
}